@media screen and (max-width:576px) {

    header,
    main {
        width: 100%;
    }
    .popular-tours,
    .nav,
    .banner-form {
        flex-direction: column;
    }

    .nav {
        width: 100px;
        margin-top: 20px;
        margin-bottom: 17px;
    }

    .nav-left-logo {
        font-size: 1.2rem;
        font-weight: 800;
        white-space: nowrap;
        display: flex;
        justify-content: space-between;
    }

    .nav-right-items {
        display: none;
    }

    .nav-right-icon {
        display: none;


    }

    .banner {
        width: 100%;
        margin: 0 auto;
    }

    .banner-header {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 30px;
        margin: 10 auto;

    }

    .banner-description {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 48px;
        font-size: 1rem;
    }
    
    .popular-tours-img img{
        width: 100%;
    }
    .popular-tours{
        gap: 24px;
    }
    .popular-tours-texts h2{
        font-size: 1.25rem;
        font-weight: 800px;
    }

}