@media screen and (max-width:576px) {

    header,
    main {
        width: 94%;
    }

    .popular-tours,
    .nav,
    .banner-form {
        flex-direction: column;
    }

    .nav {
        width: 100px;
        margin-top: 20px;
        margin-bottom: 17px;

    }

    .nav-left-logo {
        font-size: 1.2rem;
        font-weight: 800;
        white-space: nowrap;
        padding-left: 140px;
    }

    .nav-right-items {
        display: none;
    }

    .nav-right-icon {
        display: none;


    }
    .banner{
        margin: 0;
    }
    .banner-header {
        font-size: 2rem;
        font-weight: 700;
        padding-top: 30px;
        margin: 10 auto;

    }

    .banner-description {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 48px;
        font-size: 1rem;
    }

    .destination-texts h1 {
        font-size: 20px;
        font-weight: 800;
    }
    .destination-texts p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px; 
    }
  
    .popular-tours-img img {
        width: 100%;
    }

    .popular-tours {
        gap: 24px;
        margin-bottom: 24px;
    }

    .popular-tours-texts h2 {
        font-size: 1.25rem;
        font-weight: 800px;
    }

    .destination-images {
        grid-template-columns: 1fr;
    }

    .img-1,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6,
    .img-7 {
        grid-column: 1/span 12;

    }
}