@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* common shared styles starts here............................... */
* {
    font-family: 'Mulish';
}

header,
main {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5400;
    --secondary-color: #424247;
    --headings-color: #131318;
    --paragraph-color: rgba(19, 19, 24, 0.70);

}

.headings-primary {
    color: var(--headings-color);
    font-size: 2.5rem;
    font-weight: 800;
}

.paragraph-primary {
    color: var(--paragraph-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

/* header section starts here.............................. */
.nav {
    margin-top: 52px;
    margin-bottom: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--headings-color);
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-left-logo .nav-con {
    color: var(--primary-color);
}


.nav-left-logo h1 {
    margin: 0;
}

.nav-right-items a {
    text-decoration: none;
    margin-left: 2.75rem;
    color: var(--secondary-color);
    font-size: 1.12rem;
    font-weight: 400;
}

/* banner section starts here....................... */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner-image-1.png');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    text-align: center;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

.banner-header {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 106px;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    max-width: 676px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.banner-form{
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    gap: 24px;
}
.banner-form *{
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 8px;
}
.banner-form select, textarea{
    color: rgba(19, 19, 24, 0.50);
}
.banner-form .find-now-button {
    background-color: var(--primary-color);
    color: #FFF;
}
.banner-form .find-now-button:hover{
    cursor: pointer;
    background-color:#ec5104;
}