@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* common shared styles starts here............................... */
* {
    font-family: 'Mulish';
}

header,
main {
    width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5400;
    --secondary-color: #424247;
    --headings-color: #131318;
    --paragraph-color: rgba(19, 19, 24, 0.70);

}

.headings-primary {
    color: var(--headings-color);
    font-size: 2.5rem;
    font-weight: 800;
}

.paragraph-primary {
    color: var(--paragraph-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    padding: 14px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 800;

}

.btn-primary:hover {
    cursor: pointer;
    background-color: #ec5104;
}

/* header section starts here.............................. */
.nav {
    margin-top: 52px;
    margin-bottom: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--headings-color);
    color: var(--headings-color);
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-left-logo .nav-con {
    color: var(--primary-color);
}


.nav-left-logo h1 {
    margin: 0;
}

.nav-right-items a {
    text-decoration: none;
    margin-left: 2.75rem;
    color: var(--secondary-color);
    font-size: 1.12rem;
    font-weight: 400;
}
.nav-right-items .home{
    color: var(--primary-color);
}

.nav-right-icon {
    display: none;
}

/* banner section starts here....................... */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/banner-image-1.png');
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    text-align: center;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    margin-bottom: 100px;
}

.banner-header {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 106px;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    max-width: 676px;
    margin: 0 auto;
    margin-bottom: 64px;
}

.banner-form {
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    gap: 24px;
}

.banner-form input,
.banner-form select {
    flex: 1;
    width: 100%;
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 8px;
}

.banner-form select,
textarea {
    color: rgba(19, 19, 24, 0.50);
}

.banner-form .find-now-button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 14px 44px;
    border: none;
    border-radius: 8px;
}

.banner-form .find-now-button i {
    padding-right: 8px;
}

.banner-form .find-now-button:hover {
    cursor: pointer;
    background-color: #ec5104;
}

/* popular tour styles starts here............... */
.popular-tours {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    margin-bottom: 100px;
}

/* destinations section styles starts here........................ */
.destination {
    margin-bottom: 100px;
}

.destination-texts {
    text-align: center;
    margin-bottom: 48px;
}

destination-texts p {
    font-size: 14px;
    font-weight: 400;
}

.destination-images {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 24px;
}

.destination-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.img-1 {
    grid-column: 1/span 6;
    grid-row: 1/span 1;
}

.img-2 {
    grid-column: 7/span 6;
}

.img-3 {
    grid-column: 1/span 4;
}

.img-4 {
    grid-column: 5/span 5;
}

.img-5 {
    grid-column: 10/span 3;
}

.img-6 {
    grid-column: 1/span 5;
}

.img-7 {
    grid-column: 6/span 7;
}

/* why choose us styles.................................. */
.why-choose-us{
    margin-bottom: 100px;
}
.why-choose-us-texts {
    text-align: center;
    margin-bottom: 48px;
}

.why-choose-us-texts-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 30px;
}

.why-choose-us img {
    width: 60px;
    filter: invert(40%) sepia(62%) saturate(3977%) hue-rotate(0deg) brightness(99%) contrast(101%);
}

.why-choose-us h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}


.card-1 {
    max-width: 576px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-2 {
    max-width: 576px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-3 {
    max-width: 576px;
    padding: 32px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 24px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

/* get lost section styles.......................... */
.get-lost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-evenly;
}
.get-lost-texts{
    max-width: 530px;
}

/* newsletter styles......................... */
.newsletter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.newsletter-texts{
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 20px;
    justify-content: left;

}
.hr-line{
    border: 1px solid var(--primary-color);
}
.newsletter .form input{
    width: 85%;
    padding: 14px 14px;
    border: none;
    outline: none;
    border-radius: 8px;
    margin: 10px;
    justify-content: center;
}
.newsletter img{
    position: relative;
    top: 55px;
    width: 100%;
}
.discount-banner{
    text-align: center;
    max-width: 220px;
    padding: 24px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 16px;
    position: relative;
    left: 395px;
    bottom: 100px;
    transform: rotate(-20deg);
    font-size: 1.5rem;
}
/* footer styles */
footer{
    min-height: 500px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
}
.footer-logo{
    justify-content: center;
}

.footer-logo h1{
    font-size: 2rem;
    text-align: center;
}
.foot-texts{
    padding-top: 120px;
}
.footer-icons img{
    margin: 16px;
    padding-bottom: 20px;
}
.all-rights{
    border-top: 1px solid var(--headings-color);
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
}